---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import Info from "../sections/Info.astro";
import Footer from "../sections/Footer.astro";
import Events from "../sections/Events.astro";
import Music from "../sections/Music.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Info />
    <Events />
    <Music />
  </main>
  <Footer />
</Layout>
