<div class="grid sm:w-screen sm:h-screen">
  <div id="container-GrupoF5" class="flex flex-col justify-center items-center text-center mt-10 md:mt-10 ">
    <img src="/Logo01.svg" alt="Logo del grupo F5" id="logo"
    class="w-[250px] h-[250px] md:w-[300px] md:h-[300px]"
    />
    <h1 id="GrupoF5" class="font-bold text-3xl md:text-5xl">Grupo F5</h1>
    <p id="text-GrupoF5" class="leading-12 text-[20px] md:text-3xl">
      游눆 Grupo de m칰sica vers치til 游돜<br>
      <span class="font-bold text-[20px] md:text-3xl   ">춰Con m치s de 6 a침os de trayectoria! </span><br />
      Originarios de San Miguel Xoxtla, <br> 游늸Puebla, M칠xico
    </p>
    <p class="text-[25px] p-2">222 920 5162</p>
    <div class="gap-3 mb-5 w-full items-center flex flex-col mt-10 md:flex md:flex-row md:justify-center md:gap-10">
        <button
          class="md:text-3xl md:py-4 md:px-28 w-fit bg-white text-black rounded-lg 
          font-bold text-2xl py-2 px-10  hover:bg-gray-200 transition-all duration-300"
        >
          M치s informaci칩n
        </button>
        <button
          class="md:text-3xl md:py-4 md:px-28 w-fit bg-white text-black rounded-lg 
          font-bold text-2xl py-2 px-10 hover:bg-gray-200 transition-all duration-300"
        >
          Follow us <span class="text-2xl md:text-3xl">仇벒잺</span>
        </button>
      </div>
  </div>
  <div id="container-redes" class="flex flex-col justify-center items-center m-2">
    <div class="flex mt-2 gap-4 justify-center md:gap-10 md:mt-0">
        <a href="#" class="">
          <img src="./instagram.svg" alt="Instagram" class="w-14 h-14 sm:w-12 sm:h-12 md:w-14 md:h-14" />
        </a>
        <a href="#" class="">
          <img src="./Facebook.svg" alt="Facebook" class="w-14 h-14 sm:w-12 sm:h-12 md:w-14 md:h-14" />
        </a>
        <a href="#" class="">
            <img src="./WhatsApp.svg" alt="WhatsApp" class="w-14 h-14 sm:w-12 sm:h-12 md:w-14 md:h-14" />
        </a>
      </div>
      <p class="text-xl p-4 ">@grupof_5</p>
  </div>
</div>
