<div class="estrella"></div>
<div class="estrella"></div>
<div class="estrella"></div>
<div class="estrella"></div>
<div class="estrella"></div>
<div class="estrella"></div>
<div class="estrella"></div>
<div class="estrella"></div>
<div class="estrella"></div>