---
import Stars from "../components/Stars.astro";
// Definimos los eventos como un array de objetos
const today = new Date();
const events = [
  {
    id: 1,
    title: "Agenda tu fecha",
    date: today,
    description: "Tenemos fechas disponibles este mes, ¡Ven a conocernos!",
    image: "./Fechas.avif",
  },
];
---
<script>
  import "../scripts/Animation.js";
</script>
<section
  id="events"
  class="py-7 lg:py-24 flex flex-col justify-center items-center p-2 lg:p-10 lg:gap-10"
>
  <Stars />
  <div class="py-10 text-center w-full lg:w-3/4 m-4">
    <h2
      class="fade-right text-4xl text-white font-bold sm:text-5xl mb-5 glow-effect lg:glow-effect
      animate-wiggle animate-infinite animate-duration-[1500ms]"
    >
      ¡Contáctanos!
    </h2>
    <h2 class="fade-right text-2xl mb-4">¿Tienes alguna pregunta, quieres reservar al grupo para un evento o simplemente saludarnos? 
      <br>¡No dudes en escribirnos!</h2>
      <a href="https://wa.me/2229205162?text=Hola,%20me%20gustar%C3%ADa%20reservar%20a%20Grupo-F5."
      target="_blank"
      class="fade-right inline-flex text-2xl items-center bg-green-500 hover:bg-green-600 text-white font-bold py-4 px-6 lg:py-2 lg:px-4 rounded-full shadow-md transition duration-300 ease-in-out">
      <img
      src="./WhatsApp.svg"
      alt="chat on whatsapp"
      class="w-6 h-6 md:w-7 md:h-7 lg:w-7 lg:h-7 mr-2"
    />
     Reservar por WhatsApp
   </a>
    <h2 class="fade-right text-2xl mt-5">
      O si prefieres, puedes llamarnos al número 222-920-5162.
    </h2>
  </div>
</section>
<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 mb-5 m-2">
  <div class="max-w-5xl mx-auto">
    <h2
      class="glow-effect text-4xl font-bold text-center mb-12"
    >
      Próximos Eventos
    </h2>

    <div
      id="card-event"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 m-5"
    >
      {
        events.map((event) => (
          <article class="bg-white/20 rounded-2xl transition-transform hover:scale-105">
            <img
              src={event.image}
              alt={event.title}
              class="w-full h-70 object-cover rounded-2xl self-center"
            />
            <div class="p-4">
              <h3 class="text-xl font-semibold mb-2 text-white glow-effect">
                {event.title}
              </h3>
              <p class="text-white mb-2">
                {new Date(event.date).toLocaleDateString("es-ES", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </p>
              <p class="text-white">{event.description}</p>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</div>
