<section id="events" class="h-screen flex items-center justify-center">
    <h1>Eventos</h1>
</section>

<div class="party-lights-container">
    <div class="party-light red-light light-1 pulse"></div>
    <div class="party-light blue-light light-2 pulse"></div>
    <div class="party-light green-light light-3 pulse"></div>
    <div class="party-light purple-light light-4 pulse"></div>
    <div class="party-light yellow-light light-5 pulse"></div>
  </div>