<footer class="bg-gray-900 text-white py-8">
  <div class="container mx-auto text-center">
    <h2 class="text-xl md:text-2xl lg:text-2xl">
      Hecho con <span style="color: red;">❤️</span> por<a
        href="https://www.instagram.com/gabmond/"
        target="_blank"
        rel="noopener noreferrer"
        class="gradient-text pb-2"
      >
        @gabmond</a
      >
    </h2>
  </div>
</footer>
