<div class="grid grid-cols-5 grid-rows-5 gap-4">
  <div class="col-span-3 row-span-4">
    <div class="relative text-center text-white z-10">
      <h1 class="text-8xl font-bold mb-4">Grupo F5</h1>
      <p class="text-xl mb-8">
        Grupo de música versátil,💃🕺 originarios de San Miguel Xoxtla, Puebla,
        México
      </p>
    </div>
  </div>
  <div class="col-span-2 row-span-3 col-start-4">
    <p>Logo del grupo F5</p>
</div>
  <div class="col-span-3 col-start-1 row-start-5">
    <button class="bg-white text-black px-4 py-2 rounded-md">
        Conoce más
    </button>
  </div>
  <div class="col-span-2 row-span-2 col-start-4 row-start-4">
    <p>
        <a href="https://www.instagram.com/grupof5oficial/">
            <img src="/instagram.png" alt="Instagram" class="w-10 h-10">
        </a>
    </p>
  </div>
</div>
