---
---
<header class="fixed w-full bg-black/80 backdrop-blur-sm z-50 ">
    <nav class="container mx-auto px-4 py-8">
      <div class="flex items-center justify-between">
        <a href="/" id="F5"  class="text-3xl font-bold text-white">
          F5
        </a>
        <ul class="flex space-x-8 text-xl">
          <li><a href="#home" class=" hover:text-gray-400">Home</a></li>
          <li><a href="#about" class=" hover:text-gray-400">About</a></li>
          <li><a href="#music" class="  hover:text-gray-400">Music</a></li>
          <li><a href="#events" class=" hover:text-gray-400">Events</a></li>
        </ul>
      </div>
    </nav>
  </header>