---
import Stars from "../components/Stars.astro";
---

<section
  id="about"
  class="min-h-screen flex flex-col items-center justify-center py-10 md:py-24 lg:py-20"
>
  <div
    class="flex flex-col md:flex-col md:gap-0 md:py-20 lg:flex-row lg:gap-5 lg:py-10"
  >
    <div
      class="w-[350px] h-[470px] md:w-[400px] lg:w-[500px] flex items-center justify-center"
    >
      <div class="p-5 flex flex-col items-center text-center">
        <Stars />
        <h1 class="text-2xl md:text-3xl font-bold glow-effect">
          ¡Nosotros ponemos la música <br class="md:hidden" />
          y ustedes el ambiente!
        </h1>
        <p class="text-xl mt-5 mb-2">
          Con una rica mezcla de ritmos y estilos <br />
          nuestra música te hará bailar y vibrar.
        </p>
        <a
          href="https://wa.me/522229205162?text=Hola!%0AEstoy%20interesado%20en%20su%20servicio."
          target="_blank"
          rel="noopener noreferrer"
          class="text-white text-xl
            border-[3px] border-white rounded-full
            px-4 py-2 mt-10 hover:bg-white hover:text-black
            transition-colors duration-300"
          >Agendar fecha</a
        >
        <p class="text-white text-2xl mt-10 font-bold">
          ¡No te vas a arrepentir!
        </p>
      </div>
    </div>
    <div
      class="w-auto h-[370px] md:w-full md:h-[450px] lg:w-[550px] lg:h-[450px] felx flex-col items-center justify-center"
    >
      <div class="mt-0 flex items-center justify-center">
        <div
          class="glow-effect-1 w-[230px] h-[250px] md:w-[400px] md:h-[370px] lg:w-[400px] lg:h-[380px]"
        >
        </div>
        <img
          src="members.avif"
          alt="Miembros del grupo F-5"
          class="mt-0 rounded-4xl z-20 w-auto h-[300px] md:h-[410px] lg:h-[450px]"
        />
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center w-full h-full mt-10">
    <div class="flex items-center justify-center mt-7">
      <div class="fade-right w-full flex flex-col justify-center items-center">
        <h1 class="text-4xl text-center mb-4">¿Quiénes somos?</h1>
        <p class="leading-8 text-xl text-center mb-2">
          Somos un grupo musical versátil con gran experiencia en ritmos y estilos.
        </p>
        <p class="leading-8 text-xl text-center mb-2">
          Perfectos para animar cualquier tipo de evento: 
          <ul class="text-xl glow-effect text-center">
            <li>Bodas</li>
            <li>Fiestas privadas</li>
            <li>Eventos corporativos</li>
            <li class="text-2xl text-center">¡Y mucho más!</li>
          </ul>
        </p>
        <div class="glow-effect-2 h-40 w-40"></div>
        <img src="./Party-F5.avif" alt="" class="w-auto h-72 rounded-full m-5" />
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
  const elements = document.querySelectorAll(".fade-right, .clip-reveal");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("visible");
        observer.unobserve(entry.target); // Deja de observar una vez animado
      }
    });
  });

  elements.forEach((el) => observer.observe(el));
});
</script>
