---
import MusicGenreCard from "../components/MusicGenreCard.astro";
import Genres from "../components/Genres.astro";
import Stars from "../components/Stars.astro";
---

<script>
  import "../scripts/Animation.js";
</script>
<section
  id="music"
  class="min-h-screen flex flex-col justify-center items-center p-4 lg:p-20 py-20 md:py-16 lg:py-20 relative"
>
  <Stars />
  <h1
    class="text-3xl md:text-4xl lg:text-5xl text-center font-bold mb-8 glow-effect"
  >
    Explora nuestro repertorio músical
  </h1>

  <div
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-3 gap-4 lg:gap-10"
  >
    <div
      class="fade-zoom col-span-1 hover:scale-105 transition-transform duration-300 w-auto"
    >
      {/* Género Baladas */}
      <MusicGenreCard
        genreId="Baladas"
        genreName="Baladas"
        songCount={19}
        imageUrl="./Baladas.avif"
      />
    </div>

    {/*  Género Cumbia */}
    <div
      class="fade-zoom col-span-1 hover:scale-105 transition-transform duration-300"
    >
      <MusicGenreCard
        genreId="cumbia"
        genreName="Cumbia"
        songCount={54}
        imageUrl="./Cumbia.avif"
      />
    </div>

    {/* Género Norteño */}
    <div
      class="fade-zoom col-span-1 hover:scale-105 transition-transform duration-300"
    >
      <MusicGenreCard
        genreId="norteño"
        genreName="Norteño"
        songCount={9}
        imageUrl="./Norteño.avif"
      />
    </div>

    {/* Género Cumbia Norteña */}
    <div
      class="fade-zoom col-span-1 hover:scale-105 transition-transform duration-300"
    >
      <MusicGenreCard
        genreId="cumbia norteña"
        genreName="Cumbia Norteña"
        songCount={12}
        imageUrl="./Mexicano.avif"
      />
    </div>

    {/* Género Rock-Pop */}
    <div
      class="fade-zoom col-span-1 hover:scale-105 transition-transform duration-300"
    >
      <MusicGenreCard
        genreId="rock-pop"
        genreName="Rock-Pop"
        songCount={18}
        imageUrl="./Rock-pop.avif"
      />
    </div>

    {/* Género Iconos Mexicanos */}
    <div
      class="fade-zoom col-span-1 hover:scale-105 transition-transform duration-300"
    >
      <MusicGenreCard
        genreId="iconos mexicanos"
        genreName="Iconos Mexicanos"
        songCount={9}
        imageUrl="./Party-F5.avif"
      />
    </div>
  </div>
  <Genres />
</section>
