<section id="music" class="min-h-screen flex justify-center items-center">
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold glow-effect">Música</h1>
        <p class="text-xl">
            ¡Nuestra música es la más divertida y emocionante!
        </p>
        <p class="text-xl">
            ¡Con más de 6 años de trayectoria!
        </p>
</section>