---
import '../styles/global.css';
import '@fontsource-variable/jost';
import '@fontsource/prata';
import '@fontsource-variable/rubik';
import '@fontsource-variable/playfair-display';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="Grupo F-5 versátil" />
		<link rel="icon" type="image/svg+xml" href="/Logo01.svg" />
		<title>Grupo F-5</title>
		<link rel="preload" href="./instagram.svg" as="image">
		<link rel="preload" href="./Facebook.svg" as="image">
		<link rel="preload" href="./WhatsApp.svg" as="image">
		<link rel="preload" href="./Logo01.svg" as="image" type="image/svg+xml">
	</head>
	<body>
		<slot />
	</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
