---
import '../styles/global.css';
// Supports weights 100-900
import '@fontsource-variable/jost';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="Grupo F-5 versátil" />
		<link rel="icon" type="image/svg+xml" href="/Logo-F5.svg" />
		<title>Grupo F-5</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html{
		font-family: 'Jost', sans-serif;
	}
</style>
