---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/Logo01.svg" />
    <title>Grupo F-5</title>
    <meta name="description" content="Grupo de música versátil con más de 7 años de experiencia, ofreciendo un repertorio variado para todo tipo de eventos." />
    <link rel="preload" href="./instagram.svg" as="image" />
    <link rel="preload" href="./Facebook.svg" as="image" />
    <link rel="preload" href="./WhatsApp.svg" as="image" />
    <link rel="preload" href="./Logo01.svg" as="image" type="image/svg+xml" />
  </head>
  <body>
    <slot />
  </body>
</html>
<script
  src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"
></script>
